<div ng-controller="DemoAutocompleteCtrl">
    请输入邮箱地址：
    <input class="form-control" sharkautocomplete name="autocomplete" ng-model="autocompleteValue" filter-data="filterData" display-key="'name'" autocomplete="false" debounce-time="'0'" on-selected="onSelected" />
</div>
<script type="text/javascript">
angular.module('demoApp')
    .controller('DemoAutocompleteCtrl', ['$scope', function($scope) {
        var arr = ['163.com', '163.vip.com', 'qq.com', 'gmail.com'];
        $scope.filterData = function(value, config) {
            var list = [];
            if (value.indexOf('@') > -1) {
                var email = value.split('@');
                for (var i = 0; i < arr.length; i++) {
                    if (arr[i].indexOf(email[1]) > -1) {
                        list.push({
                            name: email[0] + '@' + arr[i]
                        });
                    }
                }
            } else {
                for (var i = 0; i < arr.length; i++) {
                    list.push({
                        name: value + '@' + arr[i]
                    });
                }
            }
            return list;
        };
        $scope.onSelected = function(item) {
            console.log($scope.autocompleteValue);
        };
    }]);
</script>
