> 说明：

>> datepicker组件
- 功能: 日期时间选择插件
- ng-model:选择的时间,timestamp,时间戳

>> datepickerrange组件
- 功能: 日期时间区间选择插件
- ng-model:选择的时间区间,array,[start_timestamp,end_timestamp]


> 配置项：

>> max-date
- 是否必须：否
- 类型：string/date
- 默认值：无
- 说明：用户可以选择的最大日期。

>> min-date
- 是否必须：否
- 类型：string/date
- 默认值：无
- 说明：用户可以选择的最小日期。

>> format
- 是否必须：否
- 类型：string
- 默认值："Y-m-d"
- 说明：设置日期显示格式。
- e.g. 
	- "Y-m-d": 显示年月日 "Y-m-d"——"2017-06-06"  
	- "H:i:S": 显示时分秒 "H:i:S"——"16:00:00"
	- "Y-m-d H:i": 显示年月日,时分
	- "Y-m-d H:i:S": 显示年月日,时分秒
	- "H:i": 显示时分

>> date-disable
- 是否必须：否
- 类型：Array
- 默认值：[]
- 说明：禁止选择的日期。
- e.g. 
	- 集合：["2017-03-30", "2017-05-21", "2017-06-08", new Date(2017, 8, 9) ]
	- 区间：[{from: "2017-04-01", to: "2017-06-01"},{from: "2017-09-01",to: "2017-12-01"}]
	- 函数：[function(date) { return (date.getDay() === 5 || date.getDay() === 6);}]

>> on-change
- 是否必须：否
- 类型：function
- 默认值：function(dateObject, dateString) {}
- 说明：每次日期被选择的时候都触发该函数。

>> on-open
- 是否必须：否
- 类型：function
- 默认值：function(dateObject, dateString) {}
- 说明：每次日历被打开时都会触发该函数。

>> on-close
- 是否必须：否
- 类型：function
- 默认值：function(dateObject, dateString) {}
- 说明：每次日历被关闭时都会触发该函数。