
<div ng-controller="DemoDropDownCtrl">
    <sharkdropdown name="dropdown1" text="下拉菜单" dropdown-data="data" onselect="onselect"></sharkdropdown>
</div>
<script type="text/javascript">
angular.module('demoApp')
    .controller('DemoDropDownCtrl', ['$scope', function($scope) {
        $scope.data = [{
            value: 'create',
            name: '新建'
        }, {
            value: 'edit',
            name: '编辑'
        }, {
            value: 'delete',
            name: '删除'
        }];
        $scope.onselect = function(item) {
            console.log(item);
        };
    }]);
</script>
