<div ng-controller="DemoPopoverCtrl">
    <button class="btn btn-sm btn-info" name="popover" sharkpopover popover-title="'我是标题'" popover-content-url="'/shark-angular/examples/templates/popover.html'" close="'bodyclick'" direction="'right'">点我</button>
</div>
<script type="text/javascript">
angular.module('demoApp')
    .controller('DemoPopoverCtrl', ['$scope', '$sce', '$timeout', function($scope, $sce, $timeout) {
        $scope.content = $sce.trustAsHtml('<b style="color:#ff0000;">I am content</b>');
        $timeout(function() {
            $scope.content = $sce.trustAsHtml('<b style="color:#0000ff;">I am content change color</b>');
        }, 2000);
    }]);
</script>
