
<div ng-controller="DemoToastrCtrl">
    <p>
        <button class="btn btn-success" ng-click="success();">成功提示</button>
    </p>
    <p>
        <button class="btn btn-danger" ng-click="error();">失败提示</button>
    </p>
</div>
<script type="text/javascript">
angular.module('demoApp')
    .controller('DemoToastrCtrl', ['$scope', 'sharktoastr', function($scope, sharktoastr) {
        $scope.success = function() {
            sharktoastr.success('保存成功！');
        };
        $scope.error = function() {
            sharktoastr.error('保存失败！');
        };
    }]);
</script>