<div ng-controller="DemoToastrCtrl">
    <p>
        <button class="btn btn-success" ng-click="success();">成功提示</button>
    </p>
    <p>
        <button class="btn btn-danger" ng-click="error();">失败提示</button>
    </p>
</div>
<script type="text/javascript">
    angular.module('demoApp')
        .controller('DemoToastrCtrl', ['$scope', 'SharkToastr', function ($scope, SharkToastr) {
            $scope.success = function () {
                SharkToastr.success('保存成功！');
            };
            $scope.error = function () {
                SharkToastr.error('保存失败！');
            };
        }]);

</script>