
> 配置项：

>> data
- 是否必须：是
- 类型：object
- 默认值：[]
- 说明：树组件的数据

>> checkable
- 是否必须：否
- 类型：boolean
- 默认值：false
- 说明：是否可check

>> autolink
- 是否必须：否
- 类型：boolean
- 默认值：true
- 说明：check一个节点后，是否关联其父节点和子节点的选中状态（只有checkable为true时才生效）
		
>> pre-expand
- 是否必须：否
- 类型：boolean
- 默认值：false
- 说明： 是否需要预先展开树

>> pre-selects
- 是否必须：否
- 类型：boolean
- 默认值：无
- 说明：需要预先选中某些节点。如果要使用pre-selects，pre-expand必须要设置为true

>> selectable
- 是否必须：否
- 类型：boolean
- 默认值：false
- 说明：是否可select

>> on-checked
- 是否必须：否
- 类型：function
- 默认值：无
- 说明：checked时的回调函数

>> on-selected
- 是否必须：否
- 类型：function
- 默认值：无
- 说明：selected时的回调函数

>> name
- 是否必须：否
- 类型：string
- 默认值：无
- 说明：暴露在scope上的tree组件对象，可以用来操作树。
